# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env

# Flask
instance/
*.db
*.sqlite3

# ML Models
ml/model/*.pkl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# AWS
*.pem
